In [1]:
import sklearn
import numpy as np
import pandas as pd
import os

https://data.cityofnewyork.us/Housing-Development/NYC-Calendar-Sales-Archive-/uzf5-f8n2  <br>
https://data.cityofnewyork.us/City-Government/NYC-Citywide-Annualized-Calendar-Sales-Update/w2pb-icbu

## Combine all of the CSV files into one dataframe

In [2]:
folder_name = 'data'
data_dir = os.path.join(os.getcwd(),folder_name)
all_sales_df = pd.DataFrame() 

for file_name in os.listdir(data_dir):

    if file_name[0:4] in ['2011','2012','2013','2014','2015']:
        temp_frame = pd.read_excel(os.path.join(data_dir,file_name),header = 4)
    elif file_name[0:3] == 'NYC':
        temp_frame = pd.read_csv(os.path.join(data_dir,file_name),header = 0)
        temp_frame = temp_frame.rename(columns = {'TAX CLASS AS OF FINAL ROLL':'TAX CLASS AT PRESENT','BUILDING CLASS AS OF FINAL ROLL':'BUILDING CLASS AT PRESENT'})
        # temp_frame = temp_frame.rename(columns = {'EASE-MENT':'EASEMENT'})
        #Dropping columns that only appear in most recent data
        temp_frame = temp_frame.drop(columns = ["Latitude","Longitude","Community Board","Council District","Census Tract","BIN","BBL","NTA"])
    else:
        temp_frame = pd.read_excel(os.path.join(data_dir,file_name),header = 3)
    temp_frame.columns = temp_frame.columns.str.rstrip()
    if all_sales_df.empty == True:
        all_sales_df = temp_frame
    else:
        all_sales_df = all_sales_df.append(temp_frame)
#Dropping EASEMENT as there are only 13 in half a million records
#Dropping columns that aren't useful
#Using Apartment number would be nice to determine unit location in building if we have time
all_sales_df = all_sales_df.drop(columns = ["ADDRESS","TAX CLASS AT PRESENT","BUILDING CLASS AT PRESENT","LOT","EASE-MENT","APARTMENT NUMBER"])
#I need to reference this later so it cant have a space
all_sales_df = all_sales_df.rename(columns = {"SALE PRICE":"SALE_PRICE","RESIDENTIAL UNITS":"RESIDENTIAL_UNITS"})

C:\Users\Will\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
all_sales_df.shape

(1599093, 15)

In [4]:
#Removing incomplete records, almost all of the dropped records had no sales price
all_sales_df = all_sales_df[all_sales_df.SALE_PRICE != 0]
all_sales_df = all_sales_df.dropna()

In [5]:
all_sales_df.shape

(1199985, 15)

In [6]:
# all_sales_df['EASEMENT'].fillna(0, inplace = True)
# all_sales_df['EASEMENT'].replace('E',1,inplace = True)
# all_sales_df['EASEMENT'].replace(' ',0,inplace = True)
# all_sales_df.EASEMENT.unique()

In [7]:
all_sales_df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BLOCK,ZIP CODE,RESIDENTIAL_UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE_PRICE,SALE DATE
1,2,BATHGATE,01 ONE FAMILY HOMES,3046,10457.0,1,0,1,1964,1424,1899,1,A1,100,2009-04-28 00:00:00
2,2,BATHGATE,01 ONE FAMILY HOMES,3046,10457.0,1,0,1,1964,1424,1899,1,A1,100,2009-04-13 00:00:00
3,2,BATHGATE,01 ONE FAMILY HOMES,3048,10457.0,1,0,1,1768,1188,1901,1,A5,345752,2009-03-16 00:00:00
6,2,BATHGATE,02 TWO FAMILY HOMES,3030,10457.0,2,0,2,2352,1632,1899,1,B2,135000,2009-05-08 00:00:00
7,2,BATHGATE,02 TWO FAMILY HOMES,3030,10457.0,2,0,2,2444,2125,1899,1,B2,325000,2009-03-30 00:00:00

In [8]:
print(all_sales_df.columns)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'BLOCK',
       'ZIP CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE_PRICE', 'SALE DATE'],
      dtype='object')

In [9]:
for cname in all_sales_df.columns:
    print(cname, ':  ' , all_sales_df[cname].isnull().sum())

BOROUGH :   0
NEIGHBORHOOD :   0
BUILDING CLASS CATEGORY :   0
BLOCK :   0
ZIP CODE :   0
RESIDENTIAL_UNITS :   0
COMMERCIAL UNITS :   0
TOTAL UNITS :   0
LAND SQUARE FEET :   0
GROSS SQUARE FEET :   0
YEAR BUILT :   0
TAX CLASS AT TIME OF SALE :   0
BUILDING CLASS AT TIME OF SALE :   0
SALE_PRICE :   0
SALE DATE :   0